{{- $environment := "linux" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $environment = "macos" -}}
{{- else if or (env "CODESPACES") (env "REMOTE_CONTAINERS") (stat "/.dockerenv") -}}
{{-   $environment = "devcontainer" -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  environment = {{ $environment | quote }}
